[run]
branch = True
source = wildq
omit =
  wildq/__main__.py
  wildq/_wildq_version.py
  tests/data/*
  */site-packages/*

[report]
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = html
