[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
pipenv = "*"
pipenv-setup = "*"
pre-commit = "*"
pyinstaller = "*"
setuptools_scm = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
pyyaml = "*"
toml = "*"
xmltodict = "*"
jq = "*"
pyhcl = "*"
click = "*"
pygments = "*"

[requires]
python_version = "3.6"
